<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    Index
    <div>Cookie passed: <%= cookie %></div>
    <div>Signed Cookie: <%= signedCookie %></div>
    <div>Session: <%= session %></div>
  </body>
</html>
